---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

#qqqqqqqqqqqqq

<ol>

<li> A lower bound on the partition function for a classical charge
symmetric system. <em> J. Stat. Phys. </em> <b>  28</b>, 633-638 (1982).
<br>
<a href="http://www.springerlink.com/content/hg3874420114gh37/?p=ccd1600c502f40aab6391f2793562209&amp;pi=3">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Debye-Huckel theory for charge symmetric Coulomb systems. 
<em> Commun. Math. Phys. </em> <b>  92</b>, 269-294 (1983).
<br>
<a href="http://www.springerlink.com/content/w616103056803283/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=0">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> Mean field theory for Coulomb systems. <em> J. Stat. Phys. </em> 
<b> 37</b>, 529-559 (1984).
<br>
<a href="http://www.springerlink.com/content/wx53u178j6t1w213/?p=327bd87add854f438b87732353589267&amp;pi=23">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Long range order in the anisotropic quantum ferromagnetic Heisenberg
model. <em> Commun. Math. Phys. </em> <b> 100</b>, 447-462 (1985).
<br>
<a href="http://www.springerlink.com/content/h358m244x62528n6/?p=510cc374af944eb29e84927bd1a15bba&amp;pi=2">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> Surface effects in Debye screening (with Paul Federbush). 
<em> Commun. Math. Phys. </em>
<b> 102</b>, 361-423 (1985). 
<br>
<a href="http://www.springerlink.com/content/h6g72715852w8507/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=6">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> Symmetry breaking in the lattice abelian Higgs model (with Chris King).
<em> Phys. Rev. Let. </em> <b> 55</b>, 776-778 (1985) .
<br>
<a href="http://prola.aps.org/abstract/PRL/v55/i8/p776_1">
Paper online in Physical Review Letters</a> 
(from Physical Review Online Archive. 

</li><li> Spontaneous symmetry breakdown in the abelian Higgs model 
(with Chris King).
<em> Commun. Math. Phys. </em> <b> 104</b>, 327-347 (1986). 
<br>
<a href="http://www.springerlink.com/content/qn2720h8m2h07718/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=5">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> An itinerant electron model with crystalline or
magnetic long range order (with Elliott Lieb).
Physica <b> 138A</b>, 320-358 (1986).

</li><li> Mayer expansions and the Hamilton-Jacobi 
equation (with David Brydges).
<em> J. Stat. Phys. </em> <b> 48</b>, 19-49, (1987).
<br>
<a href="http://www.springerlink.com/content/u15u23422j1n1114/?p=a2215057c6824ad983c73c4022cc6aba&amp;pi=1">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Rigorous results on valence-bond ground states in antiferromagnets
(with Ian Affleck, Elliott Lieb, Hal Tasaki).
<em> Phys. Rev. Let. </em> <b> 59</b>, 799-802 (1987).
<br>
<a href="http://prola.aps.org/abstract/PRL/v59/i7/p799_1">
Paper online in Physical Review Letters</a> 
(from Physical Review Online Archive. 


</li><li> Proof of the Peierls instability in one dimension (with Elliott Lieb).
<em> Phys. Rev. Let. </em> <b> 59</b>, 1309-1312 (1987)  
<br>
<a href="http://prola.aps.org/abstract/PRL/v59/i12/p1309_1">
Paper online in Physical Review Letters</a> 
(from Physical Review Online Archive. 

</li><li> Valence-bond ground states in isotropic quantum antiferromagnets
(with Ian Affleck, Elliott Lieb, Hal Tasaki).
<em> Commun. Math. Phys. </em> <b> 115</b>, 477-528 (1988).
<br>
<a href="http://www.springerlink.com/content/qp58533k56p1722h/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=7">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> A two dimensional isotropic quantum antiferromagnet with unique 
disordered ground state (with Elliott Lieb, Hal Tasaki).
<em> J. Stat. Phys. </em> <b> 53</b>, 383 (1988). 
<br>
<a href="http://www.springerlink.com/content/u156407883234222/?p=350a7e200d0a4c1ba8f13c3e284636e2&amp;pi=4">
Paper online in J. Stat. Phys. BROKEN</a> (from springlink.com). 

</li><li> Existence of N\'eel order in some spin 1/2 Heisenberg 
antiferromagnets (with Elliott Lieb, B. Sriram Shastry). 
<em> J. Stat. Phys. </em> <b> 53</b>, 1019 (1988).
<br>
<a href="http://www.springerlink.com/content/x564p4887u931018/?p=706f441478a242f98a750b0ea5a23212&amp;pi=13">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> The XY model has long-range order for all spins and all dimensions greater
than one (with Elliott Lieb, B. Sriram Shastry). 
<em> Phys. Rev. Let. </em> <b> 61</b> 2582 (1988).
<br>
<a href="http://prola.aps.org/abstract/PRL/v61/i22/p2582_1">
Paper online in Physical Review Letters </a> 
(from Physical Review Online Archive. 

</li><li> A fixed point equation for the high temperature phase of discrete
lattice spin systems. <em> J. Stat. Phys. </em> <b> 59</b>, 195-220 (1990).
<br>
<a href="http://www.springerlink.com/content/x612683871371628/?p=510cc374af944eb29e84927bd1a15bba&amp;pi=1">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Exact diagonalization of open spin 1 chains. J. Phys.: Condens. Matter
<b> 2</b>, 5737-5745 (1990).
<br>
<a href="http://www.iop.org/EJ/abstract/-search=60023056.2/0953-8984/2/26/010">
Paper online in J. Phys. Condens. Matter BROKEN </a> (from iop.org). 

</li><li> Spin-Peierls transitions in $S&gt;1/2$ Heisenberg chains 
(with Dandan Guo and Sumit Mazumdar).
Phys. Rev. B<b> 41</b>, 9592 (1990). 
<br>
<a href="http://prola.aps.org/abstract/PRB/v41/i13/p9592_1">
Paper online in Physical Review B</a> 
(from Physical Review Online Archive. 

</li><li> Ornstein-Zernike decay in the ground state of the quantum Ising model
in a transverse magnetic field. <em> Commun. Math. Phys. </em> <b> 137</b>, 
599-615 (1991).
<br>
<a href="http://www.springerlink.com/content/u8502r1508k058uj/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=4">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> Hidden $Z_2\times Z_2$ symmetry breaking 
in Haldane gap antiferromagnets (with Hal Tasaki). 
Phys. Rev. B<b> 45</b>, 304 (1992).
<br>
<a href="http://prola.aps.org/abstract/PRB/v45/i1/p304_1">
Paper online in Physical Review B</a> 
(from Physical Review Online Archive. 

</li><li> Hidden symmetry breaking and the Haldane phase 
in $S=1$ quantum spin chains (with Hal Tasaki). <em> Commun. Math. Phys. </em>
<b> 147</b> 431-484 (1992).  
<br>
<a href="http://www.springerlink.com/content/vl656k17qn382731/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=1">
Paper online in Commun. Math. Phys. BROKEN </a> 
(from springlink.com). 

</li><li> Solutions of the Yang-Baxter equation for isotropic 
quantum spin chains. J. Phys. A: Math. Gen. <b> 25</b>, 2809 (1992).
<br>
<a href="http://www.iop.org/EJ/abstract/-search=60025574.39/0305-4470/25/10/010">
Paper online in J. Phys. A BROKEN </a> (from iop.org). 

</li><li> Some rigorous results on majority rule renormalization 
group transformations near the critical point. <em> J. Stat. Phys. </em> 
<b> 72</b>, 15-37 (1993).
<br>
<a href="http://www.springerlink.com/content/rg1j4521g2t501p3/?p=e73771a44ad94e8b867b7a41dd9e68ac&amp;pi=28">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 


</li><li> Some rigorous results on the ground states of the Falicov-Kimball
model. Rev. Math. Phys. <b> 6</b> 901-925 (1994).
Also in <it> The State of Matter </it>, Michael Aizenman and Huzihiro Araki
(eds.) World Scientific, 1994.
<br>
<a href="http://www.ma.utexas.edu/mp_arc/abstracts/93-160">
Abstract </a> (from Texas archive), 
<a href="http://www.ma.utexas.edu/mp_arc/papers/93-160">
Paper </a> (from Texas archive).

</li><li> Ballistic behavior in a 1-d weakly self-avoiding walk
with decaying energy penalty. <em> J. Stat. Phys. </em> <b> 77</b>, 565-579 
(1994).
<br>
<a href="http://www.springerlink.com/content/y85q62604354874n/?p=f6caf0005ced4fe3963ceddb5d35813d&amp;pi=6">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Nonpositive matrix elements for Hamiltonians of spin 1 chains.
J. Phys.: Condens. Matter <b> 6</b>, 8015-8022 (1994).
<br>
<a href="http://www.iop.org/EJ/abstract/-search=60023056.1/0953-8984/6/39/020">
Paper online in J. Phys. Condens. Matter BROKEN </a> (from iop.org). 

</li><li> Absence of renormalization group pathologies
near the critical temperature - two examples (with Karl Haller). 
<em> J. Stat. Phys. </em> <b> 85</b>, 607-637 (1996). 
<br>
<a href="http://www.ma.utexas.edu/mp_arc/abstracts/95-505">
Abstract </a> (from Texas archive),
<a href="http://www.ma.utexas.edu/mp_arc/papers/95-505">
Paper </a> (from Texas archive).
<br>
<a href="http://www.springerlink.com/content/3q75869121t27066/?p=f6caf0005ced4fe3963ceddb5d35813d&amp;pi=5">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Majority Rule at Low Temperatures on the square and triangular 
lattices. 
<em> J. Stat. Phys. </em> <b> 86</b>, 1089-1107 (1997) 
<br>
<a href="http://arxiv.org/abs/cond-mat/9605104">Abstract and paper </a> 
(from arXiv.org).
<br>
<a href="http://www.springerlink.com/content/k13t027u103v4757/?p=4264286dd36149afa5a4d88468c63eac&amp;pi=22">
Paper online in J. Stat. Phys. BROKKEN </a> (from springlink.com). 


</li><li> Phase separation in the neutral Falicov-Kimball model. 
<em> J. Stat. Phys. </em> <b> 91</b>, 829-843 (1998) 
<br>
<a href="http://arxiv.org/abs/cond-mat/9705315">Abstract and paper </a> 
(from arXiv.org).
<br>
<a href="http://www.springerlink.com/content/m5716617w176v652/?p=f5dca63893c941e3849fa552c831887c&amp;pi=25">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Periodic Ground States in the Neutral Falicov-Kimball Model in 
Two Dimensions (with Karl Haller). 
<em> J. Stat. Phys. </em> <b>102</b>, 15-34 (2001) 
<br>
<a href="http://arxiv.org/abs/cond-mat/0004104">Abstract and paper </a> 
(from arXiv.org).
<br>
<a href="http://www.springerlink.com/content/p8v77t63wgn27286/?p=f5dca63893c941e3849fa552c831887c&amp;pi=24">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 


</li><li> 
A faster implementation of the pivot algorithm for self-avoiding walks.
<em> J. Stat. Phys. </em> <b> 106</b>, 407-429 (2002) 
<br>
<a href="http://arxiv.org/abs/cond-mat/0109308">Abstract and paper </a> 
(from arXiv.org).
<br>
<a href="http://www.springerlink.com/content/h56g7u825652v7x4/?p=2e6a116b889a4a408be11f5a50405bc7&amp;pi=1">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li>
Expansions for one quasiparticle states in spin 1/2 systems 
(with Nilanjana Datta).
<em> J. Stat. Phys. </em> <b> 108</b>, 373-399 (2002) 
<br>
<a href="http://arxiv.org/abs/cond-mat/0104199">Abstract and paper </a> 
(from arXiv.org),
<br>
<a href="http://www.springerlink.com/content/qylgpu9te6y6ebqg/?p=be8ef962e4b446adaf37037339c53e23&amp;pi=14">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> 
Monte Carlo tests of SLE predictions for the 2D self-avoiding walk. 
<em> Phys. Rev. Lett. </em> <b> 88</b>, 130601 (2002) 
<br>
<a href="http://arxiv.org/abs/math.PR/0112246">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://prola.aps.org/abstract/PRL/v88/i13/e130601">
Paper online in Physical Review Letters</a> 
(from Physical Review Online Archive). 

</li><li>
Conformal invariance and stochastic Loewner evolution predictions 
for the 2D self-avoiding walk - Monte Carlo tests,
<em> J. Stat. Phys. </em> <b>114</b>, 51-78 (2004) 
<br>
<a href="http://arxiv.org/abs/math.PR/0207231">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/content/j517000153561712/?p=101aa670fa994b2d9988f34eb3bdc98f&amp;pi=9">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 


</li><li>
Instability of interfaces in the antiferromagnetic XXZ chain at 
zero temperature (with Nilanjana Datta). 
<em> Commun. Math.Phys. </em> <b> 236 </b>, 477 (2003)
<br>
<a href="http://arxiv.org/abs/math-ph/0208026">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/content/0g1pedmk3aac0fr7/?p=eacd9a352d8c477e916ce107076a344a&amp;pi=2">
Paper online in Commun. Math. Phys. BROKKEN </a> 
(from springlink.com). 

</li><li> Expansions for Droplet States in the Ferromagnetic XXZ Heisenberg Chain,  
<em> Markov Processes and Related Fields. </em> <b> 11 </b>, 223 (2005)
<br>
<a href="http://arxiv.org/abs/math-ph/0310059">Abstract and paper </a> 
(from arXiv.org). 

</li><li> Compact packings of the plane with two sizes of discs,
<em> Discrete and Computational Geometry </em> <b> 35, </b> 255-267 (2006).
<br>
<a href="http://arxiv.org/abs/math.MG/0407145">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/content/h1h34507666p2537/?p=fd8e2682978d4783909701bf4c074289&amp;pi=9">
Paper online in Discrete and Computational Geometry  BROKEN </a> 
(from springlink.com). 

</li><li> A densest compact planar packing with two sizes of discs, (2004),
<br>
<a href="http://arxiv.org/abs/math.MG/0412418">Abstract and paper </a> 
(from arXiv.org). 

</li><li> A fast algorithm for simulating the chordal Schramm-Loewner evolution,
<em> J. Stat. Phys. </em> <b> 128, </b> 1125-1137 (2007).
<br>
<a href="http://arxiv.org/abs/math.PR/0508002">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/content/w7837n237417808r/?p=2e6a116b889a4a408be11f5a50405bc7&amp;pi=0">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 


</li><li> Monte Carlo comparisons of the self-avoiding walk and SLE as 
parameterized curves (2005),
<br>
<a href="http://arxiv.org/abs/math.PR/0510604">Abstract and paper </a> 
(from arXiv.org). 

</li><li> The length of an SLE - Monte Carlo studies,
<em> J. Stat. Phys. </em> <b> 128, </b> 1263-1277 (2007).
<br>
<a href="http://arxiv.org/abs/math.PR/0612609">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/content/q6342t8045712472/?p=4cc1a9f7866f48158c2525050fc27b05&amp;pi=29">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Computing the Loewner driving process of random curves in the 
half plane, 
<em> J. Stat. Phys. </em> <b> 131, </b> 803-819 (2008).
<br>
<a href="http://arxiv.org/abs/math.PR/0702071">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/content/x1j276t781q76302/?p=10cc2009cf5b4b5791cc454b863479fe&amp;pi=8">
Paper online in J. Stat. Phys. BROKEN </a> (from springlink.com). 

</li><li> Conditioning SLE's and loop erased random walks
(with Michel Bauer and Denis Bernard), <em> J. Math. Phys. </em>
<b> 50, </b> 043301 (2009).
<br>
<a href="http://arxiv.org/abs/0806.2246">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://scitation.aip.org/getabs/servlet/GetabsServlet?prog=normal&amp;id=JMAPAQ000050000004043301000001&amp;idtype=cvips&amp;gifs=Yes">
Paper online in J. Math. Phys. BROKEN </a> 

</li><li> Renormalization group maps for Ising models in lattice gas variables.
<em> J. Stat. Phys. </em> <b> 140, </b> 409-426 (2010).
<br>
<a href="http://arxiv.org/abs/0905.2601">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/openurl.asp?genre=article&amp;id=doi:10.1007/s10955-010-0002-0">
Paper online in J. Stat. Phys. BROKEN </a> 

</li><li> Numerical computations for the Schramm-Loewner Evolution.
<em> J. Stat. Phys. </em> <b> 137, </b> 839-856 (2009).
<br>
<a href="http://arxiv.org/abs/0909.2438">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/openurl.asp?genre=article&amp;id=doi:10.1007/s10955-009-9866-2&amp;sa_campaign=Email/ACE/OF">
Paper online in J. Stat. Phys. BROKEN </a> 

</li><li> The self-avoiding walk in a strip
(with Ben Dyhr, Michael Gilbert, Gregory F. Lawler, Shane Passon). 
<em> J. Stat. Phys. </em> <b> 144 </b>, 1-22 (2011).
<br>
<a href="http://arxiv.org/abs/1008.4321">Abstract and paper </a> 
(from arXiv.org).
<br>
<a href="http://www.springerlink.com/openurl.asp?genre=article&amp;id=doi:10.1007/s10955-011-0258-z">
Paper online in J. Stat. Phys. BROKEN </a> 

</li><li> Transforming fixed-length self-avoiding walks into radial SLE_8/3
<em> J. Stat. Phys. </em> <b> 146 </b>, 281-293 (2012). 
<br>
<a href="http://arxiv.org/abs/1102.4082">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://www.springerlink.com/openurl.asp?genre=article&amp;id=doi:10.1007/s10955-011-0406-5">
Paper online in J. Stat. Phys. BROKEN </a> 
<br>

</li><li> Lattice effects in the scaling limit of the two-dimensional
self-avoiding walk (with Gregory F. Lawler).
<br>
<a href="http://arxiv.org/abs/1109.3091">Abstract and paper </a> 
(from arXiv.org). 
<br>

</li><li> Simulating self-avoiding walks in bounded domains.
<em> J. Math. Phys. </em> <b> 53 </b>, 095219 (2012). 
<br>
<a href="http://arxiv.org/abs/1110.4167">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://jmp.aip.org/resource/1/jmapaq/v53/i9/p095219_s1?bypassSSO=1">
Paper online in J. Math. Phys. BROKEN </a> 
<br>


</li><li> Self-avoiding walks in a rectangle (with Tony Guttmann),
<em> J. Eng. Math. </em> , Journal of Engineering Mathematics
<b> 84 </b>, 201-208 (2014).
<br>
<a href="http://arxiv.org/abs/1210.7924">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://link.springer.com/article/10.1007%2Fs10665-013-9622-0">
Paper online in J. Eng. Math. </a> 
<br>

</li><li> 
Conformal invariance of the 3D self-avoiding walk
<em> Phys. Rev. Lett. </em> <b> 111</b>, 165703 (2013) 
<br>
<a href="http://arxiv.org/abs/1310.6979">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://prl.aps.org/abstract/PRL/v111/i16/e165703">
Paper online in Physical Review Letters</a> 
<br>


</li><li> 
Conformal invariance predictions for the three-dimensional self-avoiding walk,
<em> J. Stat. Phys. </em> <b> 158 </b>, 1195-1212 (2015).
<br>
<a href="http://arxiv.org/abs/1408.4787">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://link.springer.com/article/10.1007/s10955-014-1183-8">
Paper online in J. Stat. Phys.</a> 
<br>

</li><li> 
The Smart Kinetic Self-Avoiding Walk and Schramm-Loewner Evolution,
<em> J. Stat. Phys. </em> <b> 160 </b>, 302-320 (2015).
<br>
<a href="http://arxiv.org/abs/1408.6714">Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://link.springer.com/article/10.1007/s10955-015-1271-4">
Paper online in J. Stat. Phys.</a> 
<br>


</li><li> 
The difference between a discrete and continuous harmonic measure
(with Jianping Jiang), J. Theoret. Probab. <b> 30 </b> 1424-1444  (2017). 
<br>
<a href="http://arxiv.org/abs/1506.04313">
Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://link.springer.com/article/10.1007/s10959-016-0695-3">
Paper online in J. Theoret. Probab.</a> 
<br>

</li><li> 
The first order correction to the exit distribution for some random walks,
<em> J. Stat. Phys. </em> <b> 164 </b>, 174-189 (2016).
<br>
<a href="http://arxiv.org/abs/1509.01616">
Abstract and paper </a> 
(from arXiv.org). 
<br>
<a href="http://link.springer.com/article/10.1007/s10955-016-1534-8">
Paper online in J. Stat. Phys.</a> 
<br>

</li><li> 
A non-intersecting random walk on the Manhattan lattice and SLE_6.
<em> J. Stat. Phys. </em> <b> 174 </b> 77-96 (2019). 
<br>
<a href="http://arxiv.org/abs/1803.06728">
Abstract and paper </a> 
(from arXiv.org). 
<br><a href="http://link.springer.com/article/10.1007/s10955-018-2176-9">
Paper online in J. Stat. Phys.</a> 
<br>

</li><li> 
Conformal invariance of the loop-erased percolation explorer
<em> J. Stat. Phys. </em> <b> 177 </b> 1-19 (2019). 
<br>
<a href="http://arxiv.org/abs/1806.11561">
Abstract and paper </a> 
(from arXiv.org). 
<br><a href="http://link.springer.com/article/10.1007/s10955-019-02354-9">
Paper online in J. Stat. Phys.</a> 
<br>



</li><li> 
Absence of renormalization group pathologies in some critical
Dyson-Ising ferromagnets, (2020)
<br>
<a href="https://arxiv.org/abs/2006.11429">
Abstract and paper </a> 
(from arXiv.org). 
<br>

</li><li> 
Tensor RG approach to high-temperature fixed point (with Slava Rychkov),
<em> J. Stat. Phys. </em> <b> 187 </b> 33 (2022). 
<br>
<a href="https://arxiv.org/abs/2107.11464">
Abstract and paper </a> 
(from arXiv.org). 
<br>

</li><li> 
Tensor renormalization group at low temperatures: discontinuity fixed point (with Slava Rychkov),
<em> Annales Henri Poincare. </em> <b> 25 </b> 773 (2024). 
<br>
<a href="https://arxiv.org/abs/2210.06669"> Abstract and paper </a>  (from arXiv.org). 
<br>

</li><li> 
Rotations, Negative Eigenvalues, and Newton Method in Tensor Network Renormalization Group (with Nikolay Ebel, Slava Rychkov),
<br>
<a href="https://arxiv.org/abs/2408.10312"> Abstract and paper </a>  (from arXiv.org). 
<br>

</li><li> 
Transfer Matrix and Lattice Dilatation Operator for High-Quality Fixed Points in Tensor Network Renormalization Group (with Nikolay Ebel, Slava Rychkov),
<br>
<a href="https://arxiv.org/abs/arXiv:2409.13012"> Abstract and paper </a>  (from arXiv.org). 
<br>

</li><li> 
Tensor Renormalization Group Meets Computer Assistance (with Nikolay Ebel, Slava Rychkov),
<br>
<a href="https://arxiv.org/abs/arXiv:2506.03247"> Abstract and paper </a>  (from arXiv.org). 
<br>


#qqqqqqqqqqqqq


	
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



